<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New FIR Request Submitted</title>
    <style>
        .button {
            display: inline-block;
            padding: 10px 20px;
            font-size: 16px;
            color: #fff;
            background-color: #007bff;
            text-align: center;
            text-decoration: none;
            border-radius: 5px;
            margin: 5px;
        }
        .button-approve {
            background-color: #28a745;
        }
        .button-reject {
            background-color: #dc3545;
        }
    </style>
</head>
<body>
    <p>New FIR entry has been submitted. Here are the details:</p>
    <table border="1" cellpadding="5" cellspacing="0">
        <tr><th>Date of Complaint</th><td>{{ entry.date_of_complaint }}</td></tr>
        <tr><th>Issue Raised by Customer</th><td>{{ entry.issue_raised_by_customer }}</td></tr>
        <tr><th>Complaint Raised by</th><td>{{ entry.complaint_raised_by }}</td></tr>
        <tr><th>Complaint Raised Name</th><td>{{ entry.complaint_raised_name }}</td></tr>
        <tr><th>Device Model</th><td>{{ entry.device_model }}</td></tr>
        <tr>
            <th>Device PSN</th>
            <td>{{ entry.device_PSN }}</td>
        </tr>
        <tr>
            <th>VIN Number</th>
            <td>{{ entry.VIN_number }}</td>
        </tr>
        <tr><th>Issue Identified</th><td>{{ entry.issue_identified }}</td></tr>
        <tr><th>Issue Analysis</th><td>{{ entry.issue_analysis }}</td></tr>
        <tr><th>Engineer Recommendation</th><td>{{ entry.engineer_recommendation }}</td></tr>
    </table>
    <p>
        <a href="http://127.0.0.1:8000/request_details/{{ entry.id }}/" class="button">View All Details</a>
    </p>
    <p>
        <a href="http://127.0.0.1:8000/approve_request/{{ entry.id }}/" class="button button-approve">Approve</a>
        <a href="http://127.0.0.1:8000/reject_request/{{ entry.id }}/" class="button button-reject">Reject</a>
    </p>
</body>
</html>