<!DOCTYPE html>
<html>
<head>
    <title>Request Details</title>
</head>
<body>
    <h2>Request Details</h2>
    <table>
        <tr>
            <th>Date of Complaint</th>
            <td>{{ entry.date_of_complaint }}</td>
        </tr>
        <tr>
            <th>Issue Raised by Customer</th>
            <td>{{ entry.issue_raised_by_customer }}</td>
        </tr>
        <tr>
            <th>Complaint Raised by</th>
            <td>{{ entry.complaint_raised_by }}</td>
        </tr>
        <tr>
            <th>Complaint Raised Name</th>
            <td>{{ entry.complaint_raised_name }}</td>
        </tr>
        <tr>
            <th>Contact Number</th>
            <td>{{ entry.contact_number }}</td>
        </tr>
        <tr>
            <th>Complaint Raised Through</th>
            <td>{{ entry.complaint_raised_through }}</td>
        </tr>
        <tr>
            <th>Service Engineer Name</th>
            <td>{{ entry.service_engineer_name }}</td>
        </tr>
        <tr>
            <th>Device Model</th>
            <td>{{ entry.device_model }}</td>
        </tr>
        <tr>
            <th>Device PSN</th>
            <td>{{ entry.device_psn }}</td>
        </tr>
        <tr>
            <th>VIN Number</th>
            <td>{{ entry.vin_number }}</td>
        </tr>
        <tr>
            <th>Firmware</th>
            <td>{{ entry.firmware }}</td>
        </tr>
        <tr>
            <th>Configuration</th>
            <td>{{ entry.configuration }}</td>
        </tr>
        <tr>
            <th>Device IMEI</th>
            <td>{{ entry.device_imei }}</td>
        </tr>
        <tr>
            <th>Device ICCID</th>
            <td>{{ entry.device_iccid }}</td>
        </tr>
        <tr>
            <th>Date of Sale of Device</th>
            <td>{{ entry.date_of_sale_of_device }}</td>
        </tr>
        <tr>
            <th>Telco Status</th>
            <td>{{ entry.telco_status }}</td>
        </tr>
        <tr>
            <th>Active Profile</th>
            <td>{{ entry.active_profile }}</td>
        </tr>
        <tr>
            <th>S Trigger Date</th>
            <td>{{ entry.s_trigger_date }}</td>
        </tr>
        <tr>
            <th>C Trigger Date</th>
            <td>{{ entry.c_trigger_date }}</td>
        </tr>
        <tr>
            <th>Commercial Expiry Date</th>
            <td>{{ entry.commercial_expiry_date }}</td>
        </tr>
        <tr>
            <th>First Communication on Darby</th>
            <td>{{ entry.first_communication_on_darby }}</td>
        </tr>
        <tr>
            <th>Last Communication on Darby</th>
            <td>{{ entry.last_communication_on_darby }}</td>
        </tr>
        <tr>
            <th>Vehicle Support Date</th>
            <td>{{ entry.vehicle_support_date }}</td>
        </tr>
        <tr>
            <th>Vehicle Sale Date</th>
            <td>{{ entry.vehicle_sale_date }}</td>
        </tr>
        <tr>
            <th>Vehicle Type</th>
            <td>{{ entry.vehicle_type }}</td>
        </tr>
        <tr>
            <th>Vehicle Running Location</th>
            <td>{{ entry.vehicle_running_location }}</td>
        </tr>
        <tr>
            <th>Kilometers Hours</th>
            <td>{{ entry.kilometers_hours }}</td>
        </tr>
        <tr>
            <th>Vehicle Usage</th>
            <td>{{ entry.vehicle_usage }}</td>
        </tr>
        <tr>
            <th>Main Battery Voltage</th>
            <td>{{ entry.main_battery_voltage }}</td>
        </tr>
        <tr>
            <th>Issue Identified</th>
            <td>{{ entry.issue_identified }}</td>
        </tr>
        <tr>
            <th>Issue Analysis</th>
            <td>{{ entry.issue_analysis }}</td>
        </tr>
        <tr>
            <th>External Modification</th>
            <td>{{ entry.external_modification }}</td>
        </tr>
        <tr>
            <th>Issue Description</th>
            <td>{{ entry.issue_description }}</td>
        </tr>
        <tr>
            <th>Engineer Recommendation</th>
            <td>{{ entry.engineer_recommendation }}</td>
        </tr>
    </table>
</body>
</html>